/*Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
/*Reset*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-weight: 400;
}
body{
  background-color: #0d3b42;
  font-family: 'Roboto Condensed', sans-serif;
}
/*Header*/
header{
  width: 100%;
  height: 15vh;
  background-image: url('./assets/image\ 3.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;justify-content: center;align-items: center;
  padding: 20px;
}
header img{
  width: 50%;
}
/*Buscador*/
.browser{
  width: 100%;
  height: 80px;
  position: static;
}
.search{
  position: absolute;
  top: 110px;
  left: 60px;
  padding: 5px;
}
.search input{
  width: 0px;
  height: 40px;
  padding: 0 20px;
  font-size: 18px;
  color: #000;
  outline: none;
  border: 1px solid #062226;
  border-radius: 30px;
  transition: all 0.6s ease;
}
.btn{
  position: absolute;
  top: 0;
  right: 0;
  background: #062226;
  width: 55px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  color: #fff;
  font-size: 20px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
.search:hover input{
  width: 240px;
}
.search input:focus{
  width: 240px;
}
/*Location information*/
.location-information{
  width: 90%;
  margin: auto;
  background-color: #062226;
  padding: 10px;
  color:#fff;
  display: flex;flex-direction: column;justify-content: center;align-items: center;
}
.location-information ul{
  display: flex;justify-content: space-around;align-items: center;gap: 50px;
  margin: 20px 0;
}
.location-information ul li{
  font-size: 15px;
  text-align: center;
  color: #fff;
}
.location-information ul li span{
  text-transform: uppercase;
}
/*Load*/
.load{
  width: 100%;
  min-height: 50vh;
  display: flex;justify-content: center;align-items: center;
}
/*Card sealer*/
.card-sealer{
  width: 100%;
  min-height: 300px;
  max-height: 300px;
  padding: 10px 10px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
}
.message{
  text-align: center;
  margin-top: 100px;
  color: #fff;
}
/*card*/
.card{
  min-width: 100%;
  background-color: #d2e6d4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 10px;
}
.card img{
  width: 100px;
}
.info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.info h2{
  font-size: 20px;
  text-align: center;
}
.info p{
  font-size: 18px;
}
.info dt{
  font-size: 15px;
}
.info dd{
  font-size: 13px;
  color: gray;
}
/*Change Page*/
.change-page{
  width: 100%;
  height: 20vh;
  background-color: #fff;
}
/*Responsive*/
@media (min-width: 800px) {
  .search{
    top: 175px;
    left: 50px;
  }
  .card-sealer{
    grid-template-columns: repeat(3, auto);
  }
}
@media (min-width: 1000px) {
  header{
    height: 30vh;
  }
  header img{
    width: 45%;
  }
  .search{
    top: 215px;
    left: 80px;
  }
  .card-sealer{
    grid-template-columns: repeat(4, auto);
    gap: 30px;
    margin-top: 50px;
  }
}