/*Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
/*Reset*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body{
  background-color: #0d3b42;
  font-family: 'Roboto Condensed', sans-serif;
}
/*Header*/
.header{
  width: 100%;
  height: 15vh;
  background-image: url('./assets/image\ 3.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;justify-content: center;align-items: center;
  padding: 20px;
}
.header img{
  width: 50%;
}
/*Seeker*/
.browser{
  width: 80%;
  height: 80px;
  position: relative;
  display: flex;justify-content: center;align-items: flex-end;
  margin: auto;
}
.search{
  position: absolute;
  top: 10px;
  padding: 5px;
}
.search input{
  width: 240px;
  height: 40px;
  padding: 0 20px;
  font-size: 14px;
  color: #000;
  outline: none;
  border: 1px solid #062226;
  border-radius: 30px;
  transition: all 0.6s ease;
}
.btn{
  position: absolute;
  top: 0;
  right: 0;
  background: #062226;
  width: 55px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  color: #fff;
  font-size: 20px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
.suggetions{
  background-color: #062226;
  width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: absolute;
  top: 70px;
  border: 1px solid #fff;
}
.suggetions li{
  padding: 10px;
  border-bottom: 1px solid #fff;
  color: #fff;
  cursor: pointer;
}
.suggetions li:hover{
  background-color: #0d3b42;
}
/*Location*/
.location-information{
  width: 90%;
  margin: auto;
  background-color: #062226;
  padding: 10px;
  color:#fff;
  display: flex;flex-direction: column;justify-content: center;align-items: center;
}
.location-information ul{
  display: flex;justify-content: space-around;align-items: center;gap: 50px;
  margin: 20px 0;
}
.location-information ul li{
  font-size: 15px;
  text-align: center;
  color: #fff;
}
.location-information ul li span{
  text-transform: uppercase;
}
/*Load*/
.load{
  width: 100%;
  min-height: 50vh;
  display: flex;justify-content: center;align-items: center;
}
/*Card sealer*/
.card-sealer{
  width: 100%;
  min-height: 300px;
  padding: 20px 10px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
}
/*Message*/
.message{
  text-align: center;
  margin-top: 100px;
  color: #fff;
}
/*Card*/
.card{
  width: 170px;
  height: 280px;
  background-color: #d2e6d4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 10px;
}
.card img{
  width: 100px;
}
.status{
  display: flex;
  gap: 20px;
}
.card span{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: gray;
}
.info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.info h2{
  font-size: 20px;
  text-align: center;
}
.info p{
  font-size: 18px;
}
.info dt{
  font-size: 15px;
}
.info dd{
  font-size: 13px;
  color: gray;
}
.alive{
  background-color: green;
}
.death{
  background-color: red;
}
/*Change Page*/
.change-page{
  width: 100%;
  height: 15vh;
  margin-bottom: 30px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(5, auto);
  gap: 20px;
}
.change-page button{
  display: block;
  background-color: #062226;
  color: #fff;
  font-size: 1rem;
  padding: 10px 15px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
/*Question*/
.question-btn{
  font-size: 1.4rem;
  color: #fff;
  padding: 10px;
  border-radius: 50%;
  background-color: #062226;
  border: none;
  position: relative;
  bottom: 5px;
  left: 5px;
}
.question{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0d3b42;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  padding: 50px;
  overflow: scroll;
}
.question button{
  border: none;
  font-size: 1rem;
  border-radius: 50%;
  padding: 10px 15px;
  position: absolute;
  top: 20px;
  right: 20px;
}
.question dl{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}
.question dl dt, .question h2{
  color: #fff;
}
/*Responsive*/
@media (min-width: 800px) {
  .search{
    top: 10px;
  }
  .card-sealer{
    grid-template-columns: repeat(3, auto);
  }
  .card{
    width: 250px;
  }
  .change-page{
    grid-template-columns: repeat(10, auto);
  }
  .question{
    overflow: hidden;
  }
}
@media (min-width: 1000px) {
  .header{
    height: 30vh;
  }
  .header img{
    width: 45%;
  }
  .search{
    top: 10px;
  }
  .card-sealer{
    grid-template-columns: repeat(4, auto);
    gap: 30px;
    margin-top: 50px;
  }
}